@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: var(--background);
  --color-borderColor: var(--borderColor);
  --color-secondary: var(--secondary);
  --color-brandColor: var(--brandColor);
  --color-terciary: var(--terciary);
  --color-quaternary: var(--quaternary);
}

:root {
  --background: #0b0b0b;
  --foreground: #171717;
  --borderColor: #232323;
  --secondary: #121212;
  --brandColor: #836ef9;
  --terciary: #181818;
  --quaternary: #282828;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
